<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="navdrawer.test.com.navigationdrawertest">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".others.Global"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_app_logo"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme1">
        <activity
            android:name=".HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".fragment.Pinchtozoomfragment"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".AboutActivity"
            android:theme="@style/AppTheme1" />
        <activity android:name=".SplashActivity" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyD7ALJ7sS4ouZqHF0Nx5-nRtkEl0tRDqIM" />

    </application>

</manifest>